<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--TODO : 경로 이해안감-->
<mapper namespace="com.example.mywebsitespring.dao.studyBoardMapper">

    <select id="countStudyBoard" resultType="int">
        select count(*) from studyboard
    </select>

    <select id="select" parameterType="int" resultType="StudyBoardDto">
        select * from studyboard where bno = #{bno}
    </select>

<!--    <select id="selectPage" parameterType="int" resultType="StudyBoardDto">-->
<!--        select a.* from (select @rownum := @rownum + 1 rn, s.* from studyboard s, (select @rownum :=0) a order by bno desc) a where rn<=20 and rn>=20-9-->
<!--    </select>-->

    <select id="selectPage" parameterType="int" resultType="StudyBoardDto">
    <![CDATA[
        select a.* from (select @rownum := @rownum + 1 rn, s.* from studyboard s, (select @rownum :=0) a order by bno desc) a where rn<=#{number} and rn>=#{number}-9
        ]]>
    </select>

    <select id="selectAll" resultType="StudyBoardDto">
        select * from studyboard
    </select>

    <insert id="insert" parameterType="StudyBoardDto">
        insert into studyboard (title, content, writer)
        values (#{title}, #{content}, #{writer})
    </insert>

    <update id="update" parameterType="StudyBoardDto">
        update studyboard
        set title=#{title}, content=#{content}
        where bno=#{bno}
    </update>

    <delete id="delete" parameterType="int">
        delete from studyboard where bno = #{bno}
    </delete>

    <delete id="deleteAll">
        delete from studyboard
    </delete>


</mapper>